#header-nav {
  background-color: grey;
  border-radius: 5px;
  border: 0;
}

.navbar-brand h1{
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #bcd5d7;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#main-content h2 {
	margin-top: -5px;
	margin-bottom: 15px;
}

#main-content div {
	background-color: #bcd5d7;
	margin-bottom: 15px;
	margin-left: -15px;
}

#main-content div .text-center{
	color: black;
	font-size: 1.5em;
	font-weight: bold;
}

#main-content div .text-food {
	color: black;
}
